<h1><a target='_blank' href='https://github.com/jbhamilton/disco-core/blob/v1.0/core/BaseCrypt.core.php'>Crypt</a></h1>

<p>The Crypt Facade provides functionality for AES encryption using a 32bit key size through the 
<a href='http://www.php.net/manual/en/book.mcrypt.php'>mcrypt PHP module</a>, 
and hashing using the <a href='http://www.php.net/manual/en/functino.hash.php'>sha512 algorithmn</a></p>

<div class='panel notice'>
    <p>You must configure your AES_KEY256 setting variable in <span class='path'>.env.*.json</span> to a 32 bit random key for your encryption to be secure</p>
    <p>You must configure your SHA512_SALT_LEAD and SHA512_SALT_TAIL setting variable in <span class='path'>.env.*.json</span> to a random key of any length for your hasing to be secure</p>
</div>

<h2>Example Usage</h2>

<h5>Encryption</h5>
<pre class='prettyprint'>
    $crypt = Crypt::encrypt('encrypt this string!');
</pre>

<h5>Decryption</h5>
<pre class='prettyprint'>
    $decrypt = Crypt::decrypt($encryptedString);
</pre>

<h5>Hashing</h5>
<pre class='prettyprint'>
    $hashedPassWord = Crypt::hash('hashthispassword');
</pre>
