<div class='row collapse'>
    <div class='docs-menu small-12 medium-2 columns'>
        <ul class='side-nav'>
            <li class='divide'>Getting Started</li>
            <li><a href='/docs'>Introduction</a></li>
            <li><a href='/docs/install'>Installation</a></li>
            <li><a href='/docs/config'>Configuration</a></li>
            <li><a href='/docs/request-lifecycle'>Request Lifecycle</a></li>
            <li><a href='/docs/routing-guide'>Routing & Controllers</a></li>
            <li><a href='/docs/template-guide'>Views & Templates</a></li>
            <li><a href='/docs/IoC-facades'>IoC & Facades</a></li>

            <li class='divide'>Core</li>
            <li><a href='/docs/Router'>Router</a></li>
            <li><a href='/docs/Authentication'>Authentication</a></li>

            <li class='divide'>Facades</li>
            <li><a href='/docs/Cache'>Cache</a></li>
            <li><a href='/docs/Crypt'>Crypt</a></li>
            <li><a href='/docs/Data'>Data</a></li>
            <li><a href='/docs/Database'>Database(DB)</a></li>
            <li><a href='/docs/Email'>Email</a></li>
            <li><a href='/docs/Event'>Event</a></li>
            <li><a href='/docs/Model'>Model</a></li>
            <li><a href='/docs/Session'>Session</a></li>
            <li><a href='/docs/Template'>Template</a></li>
            <li><a href='/docs/Util'>Util</a></li>
            <li><a href='/docs/View'>View</a></li>
        </ul>
    </div>
    <div class='docs-content small-12 medium-10 columns'>
        {{@inPageStickyNav}}
        {{$content}}
    </div>
</div>
