
<h1>Welcome to the Disco Docs</h1>

<p>
You will be happy to hear that Disco uses <a href='http://getcomposer.org'>composer</a> for dependency management and installation.
</p>

<hr>

<h3>Where to get started?</h3>
<p>First we recommend that you head over to the <a href='/docs/install'>installation page</a> and get a working copy of Disco up and running</p>
<p>Then check out configuring your local and development environments at the <a href='/docs/config'>configuration page</a></p>
<p>After that head over to learn about the <a href='/docs/request-lifecycle'>Request Lifecycle</a></p>
<p>Then take a quick read of the core principles empowering Disco; <a href='/docs/IoC-facades'>Inversion of Control and Facades</a></p>
<p>Now get to the good stuff and learn how to <a href='/docs/routing-guide'>RESTfully route your application and leverage Controllers</a></p>
<p>Then get familiar with the <a href='/docs/template-guide'>View Facade and the tDisco Templating System</a></p>

<hr>

<h4>
Disco is built around some basic principles:
</h4>

    <ul class='list home'>
        <li><span>KISS</span></li>
        <li><span>Reusability</span></li>
        <li><span>Modularity</span></li>
        <li><span>RESTful routing</span></li>
        <li><span>Portability</span></li>
        <li><span>IoC and Facades</span></li>
    </ul>
