
<h1>Welcome to the Disco Docs</h1>

<p>
You will be happy to hear that Disco uses <a href='http://getcomposer.org'>composer</a> for dependency management and installation.
</p>

<br>


<div class='row collapse'>

    <div class='text-center'>
        <h2>Where to get started?</h2>
    </div>

    <div class='small-12 medium-4 columns'>
        <a href='/docs/install'>
            <div class='starting-step'>
                <h5>Install</h5>
                <p>Get Disco up and running</p>
            </div>
        </a>
    </div>

    <div class='small-12 medium-4 columns'>
        <a href='/docs/config'>
            <div class='starting-step'>
                <h5>Configure</h5>
                <p>Configure your local and development environments</p>
            </div>
        </a>
    </div>

    <div class='small-12 medium-4 columns'>
        <a href='/docs/request-lifecycle'>
            <div class='starting-step'>
                <h5>Request Life-cycle</h5>
                <p>Learn about the application flow of control</p>
            </div>
        </a>
    </div>

    <div class='small-12 medium-4 columns'>
        <a href='/docs/IoC-facades'>
            <div class='starting-step'>
                <h5>Inversion of Control and Facades</h5>
                <p>Then take a quick read of the core principles empowering Disco; </p>
            </div>
        </a>
    </div>

    <div class='small-12 medium-4 columns'>
        <a href='/docs/routing-guide'>
            <div class='starting-step'>
                <h5>RESTfull Routing & Controllers</h5>
                <p>Learn how to RESTfully route your application and pair routes with Controllers</p>
            </div>
        </a>
    </div>

    <div class='small-12 medium-4 columns'>
        <a href='/docs/template-guide'>
            <div class='starting-step'>
                <h5>Views and Templates</h5>
                <p>Learn how to use Views and templates in your application</p>
            </div>
        </a>
    </div>



</div>

<br>
<br>

<div class='row collapse'>
    <div class='text-center'>
            <h5>Go Through Discos Facades</h5>
            <p>Go through each Facade and understand each ones uses and place in your application.</p>
    </div>
</div>

<br>
<br>

<div class='text-center'>
    <p class='heading'>Find a Bug?</p>
    <a target='_blank' href='https://github.com/jbhamilton/disco-core/issues/new'><div class='button tiny'>Open an Issue on github</div></a>
</div>

<br>


