<div class='row collapse'>
    <p class='copyright'>
        Disco is a TradeMark of Bradley Hamilton. Copyright &copy; 
        <a href='http://www.bradleyhamilton.com'>Bradley Hamilton</a>
    </p>
    <p>
        Disco Frame Work is distributed under the 
        <a href='https://github.com/discophp/framework/blob/master/LICENSE'>Apache License Version 2.0</a>
    </p>

    <hr>

    <p>See a typo on the site? Have an idea you want to implement?</p>
    <p><a target='_blank' href='https://github.com/discophp/discophp.com'>Fork this site and issue some pull requests!</a></p> 

</div>
