
<div class='welcome-message'>

    <p class='main-heading large-font'>Code shouldn't be painful</p>
    <div class='message-slide'>
        <p class='active'>To Look At</p>
        <p>To Write</p>
        <p>To Maintain</p>
        <p>To Alter</p>
        <p>To Secure</p>
    </div>

    <div class='left-bracket'>{</div>
    <div class='right-bracket'>}</div>
</div>


<p class='main-heading large-font'>Neither Should Your Framework</p>


    <div id='dance-img'>
        <img src='/images/home.jpg'>
    </div>


    <h1>Welcome to the<br>Disco PHP Framework</h1>
    <div class='logo'>
        <img src='/images/logo.png'>
    </div>

    <p class='home-heading'>
    Weighing in at just under .1 MB<br>staying light has never been easier.
    </p>


    <br>

    <p class='home-heading'>
    Composer powered Dependency Management and Installation
    </p>

    <div class='home-info'>


        <p>
        The Disco PHP Framework is empowered by proven software design principles paired with modern tactics enabled by new native PHP Class manipulations available in PHP 5.4.0 and above.
        </p>

        <p>At its core is a powerful dependency injection (DI) and Inversion of Control (IoC) container which is built on top of the <a target='_blank' href='https://github.com/fabpot/Pimple'>Pimple Container</a>. The framework is a MVC esque (Model View Controller) segregated framework.
    </div>

    <p class='home-heading'>
    Go from git clone to a live project in less than a minute!
    </p>


<div class='homepage-divider'>
    <h2>What You're in For</h2>
</div>

<div class='row disco-services fullpagerow'>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>Restful Routing</p>
            <p class='message hide'>
                <img src='/images/restful.png'>
            </p>
        </div>
    </div>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>Controllers</p>
            <p class='message hide'>
                <img src='/images/controller.png'>
            </p>
        </div>
    </div>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>Templates</p>
            <p class='message hide'>
                <img src='/images/template.png'>
            </p>
        </div>
    </div>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>Events</p>
            <p class='message hide'>
                <img src='/images/event.png'>
            </p>
        </div>
    </div>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>Caching</p>
            <p class='message hide'>
                <img src='/images/cache.png'>
            </p>
        </div>
    </div>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>MySQL</p>
            <p class='message hide'>
                <img src='/images/database.png'>
            </p>
        </div>
    </div>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>ORM Models</p>
            <p class='message hide'>
                <img src='/images/model.png'>
            </p>
        </div>
    </div>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>Views</p>
            <p class='message hide'>
                <img src='/images/view.png'>
            </p>
        </div>
    </div>
    <div class='small-12 medium-6 large-4 columns'>
        <div class='service-bubble'>
            <p class='title'>IoC & Facades</p>
        </div>
    </div>


</div>

<div class='homepage-divider second'>
    <h5><a href='/docs'>...The Docs await you...</a></h5>
</div>


<div class='homepage-quote'>

    <p class='quote'>
        <span>“</span> If you always do what you've always done, you'll always get what you always got.<span>”</span>
    </p>
    <p class='author'>
        - James P. Lewis
    </p>

</div>



