<h1>Install</h1>

<p class='heading'>Using Composer</p>
<p>First you will want to clone Disco from github</p>
<p class='command'>git clone https://github.com/jbhamilton/disco.git</p>

<p>If you don't have composer installed globally grab a copy into the project directory</p>
<p class='command'>curl -sS https://getcomposer.org/installer | php</p>

<p>Put the <span class='path'>composer.phar</span> in the projects root directory</p>

<p>Now install Disco!</p>

<p class='command'>php composer.phar install</p>

<p>Congrats now Disco is installed!</p>
