<h1>Inversion of Control and Facades</h1>

<p class='heading'>What is Inversion of Control?</p>

<p>
Inversion of Control or IoC for short, is an Object Oriented programming technique in which essentially empty objects act as STATIC access points for instances of objects of importance. 
These essentially empty objects are called Facades, and the objects of importance we will refer to as Base objects. A “container” under IoC principle is an object who's duty it is to:
</p>
<ul>
    <li>Invisibly manage and resolve Base objects to their Facade counter-parts</li>
    <li>Provide access to singleton instances of objects</li>
    <li>Factory style creation of objects</li>
</ul>

<p>The <span class='path'>Disco</span> object serves as our applications primary “container”. Facades are registered with the application container and contain instructions on what Base object they represent. When a Facade is used for the first time the Base object it represents becomes instantiated and its state is stored and kept internally in the container for future uses within the applications life-cycle. Each time that Facade is accessed it will provide access to the same instance of the underlying Base class.
</p>

<p>IoC techniques are typically used in combination with some sort of Dependency Injection. In Discos case we use Composers <span class='path'>autoload.php</span> script to handle our Dependency Injection.</p>

<p class='heading'>This IoC paradigm provides us with some pretty powerful attributes:</p>

<ul class='normal-list'>
    <li>We never construct Base objects until they are absolutely needed</li>
    <li>We can statically access our Base objects from anywhere in our applications logic</li>
    <li>We can swap underlying Base objects of the Facade to change/extend functionality on the fly without any changes to code or object accessors</li>
</ul>

<p class='heading'>Whats Dependency Injection?</p>

<p>
Dependency Injection ia a programming technique in which the applications needed objects are not known at run time.
Simply put, dependency injection is the lazy loading of classes as they are requested through the flow of control of the application.
Meaning that from here on out, you will never write another require statement for your classes again! This is awesome in that manner, and 
because you will never be loading more than is absolutly necessary on each request to your application.</p>

<p>So what does it mean for us?</p>

<p>Well if you have read through any of the documentation you have been using the IoC technique and Facades already!</p>




<p class='heading'>What is a Facade</p>


<div class='panel'>
    <i>Definition:</i>
    <p>- the face of a building, esp. the principal front that looks onto a street or open space.</br>
    - an outward appearance that is maintained to conceal a less pleasant or creditable reality.</p>
</div>

<p>This actually applies to software as well!</p>

<p><u>A Facade is simply a class that will serve as a front for another class.</u></p>

<hr>

<p class='heading mlarge-font'>Before we discuss building facades... Using Objects that aren't Facades with the container</p>

<p class='heading'>Using the container to handle Objects as Singletons</p>

<pre class='prettyprint'>
    Disco::with('YourClass')->yourMethod($arg);
</pre>

<p class='heading'>Factory style Object access through the container</p>

<pre class='prettyprint'>
    $class = Disco::factory('YourClass');
    $class->method();
    $class = Disco::factory('YourClass');
    $class->method();
</pre>


<hr>


<h2>The 3 pieces that go into creating a Facade</h2>

<p>Seeing an example will really help you understand what a Facade is and how it functions, so lets dive in</p>

<p class='heading'>1. Extending the Facade class</p>

<pre class='prettyprint'>

    class Sample extends Disco\classes\Facade {

        protected static function returnFacadeId(){

            return 'Sample';

        }//returnFacadeId

    }//Sample

</pre>

<p>Here we create a class called "Sample" that extends the class Facade (the Facade class is an internal Disco class).</p>
<div class='panel notice'>
<p>Every Facade you create must implement the method <span class='path'>protected static function returnFacadeId()</span> and you should return a unique string id from the function.</p>
</div>


<p class='heading'>2. Create the class that the Facade will serve as a front for</p>

<pre class='prettyprint'>

    class BaseSample {

    	private $count=0;

        public function printSample(){

            $this->count++;

            View::html("You have called printSample {$this->count} times");

        }//printSample

        public function printTest(){

            View::html('You called the printTest function!');

        }//printTest

    }//BaseSample

</pre>

<p>Now we have the class "BaseSample" that our Facade "Sample" is going act as a front for</p>


<p class='heading'>3. Finally tell Disco to make the Facade</p>

<pre class='prettyprint'>

    Disco::make('Sample',function(){
        return new BaseSample();
    });

</pre>

<p>The method <span class='path'>Disco::make()</span> simply registers an action to be performed when an object "Sample" is used for the first time. 
We want the action to be the return of an instantiation of the underlying class that the Facade will act as a front for. In this case we want to return
a new "BaseSample" class.
</p>
<div class='panel notice'>
    <p>
        The first parameter of <span class='path'>Disco::make()</span> must match the id you returned from your extended Facade class through the method 
        <span class='path'>returnFacadeId()</span>
    </p>
</div>

<p class='heading'>Using it</p>

<p>
Registering a Facade and the actual instantiation of a Facade are not the same thing!
Your underlying class will not be instantiated untill the first time the object is used. 
So if it never gets used it will never be created.
</p>

<pre class='prettyprint'>

    Sample::printTest();

    Sample::printSample();

</pre>

<p>
Notice that you access your object exactly by its class name and that all your methods are accessible using static method syntax.
This is achieved using the <a target='_blank' href='http://php.net/manual/en/language.oop5.overloading.php#object.callstatic'>php magic method __callStatic()</a>.
</p>

<hr>

<p class='heading'>Want to get a physical instance of the Facades underlying class?</p>

<p>Use the <span class='path'>::instance()</span> method on the Facade</p>

<pre class='prettyprint'>

    $sample = Sample::instance();

    $sample->printSample();

</pre>

<hr>

<h3>Modeling How A Facade Functions</h3>

<a href='/images/how-a-facade-works-in-software-and-the-disco-php-framework.png'>
    <div class='text-center'>
        <img src='/images/how-a-facade-works-in-software-and-the-disco-php-framework.png' title='Flow chart and diagram of how a facade works in software and the Disco PHP Framework'>
    </div>
</a>

<div class='panel'>
Do yourself a favor and go to the <a target='_blank' href='https://github.com/discophp/framework/blob/master/core/classes/Facade.core.php'>Facade class of Disco</a> and check out the internals.
</div>


