<nav class="top-bar homepage" data-topbar> 
    <ul class="title-area"> 
        <li class="name version"> 
            <a href="http://github.com/jbhamilton/disco">V1.0</a> 
        </li> 
        <li class="toggle-topbar menu-icon">
            <a href="#">Menu</a>
        </li> 
    </ul> 

    <section class="top-bar-section"> 
        <!-- Right Nav Section --> 
        <ul class="right main-nav"> 
            <li>
                <a href="/">Dance!</a>
            </li> 
            <li>
                <a href="/docs">Docs</a>
            </li>
            <li>
                <a href="/api/index.html">API</a>
            </li>
            <li>
                <a href="http://github.com/jbhamilton/disco">Github</a>
            </li>

        </ul> 
        
    </section> 
</nav>

