<h1><a target='_blank' href='https://github.com/jbhamilton/disco-core/blob/v1.0/core/BaseRouter.core.php'>Router</a></h1>

<p>The Router Facade is used to resolve a RESTful style endpoint to an action</p>

<p class='heading'>GET Requests</p>

<pre class='prettyprint'>

    Router::get('/contact',function(){

        Template::with('contact');

    });

</pre>


<p class='heading'>POST Requests</p>

<pre class='prettyprint'>

    Router::post('/contact',function(){

        var_dump( Data::post()->all() );

    });

</pre>


<p class='heading'>PUT Requests</p>

<pre class='prettyprint'>

    Router::put('/contact',function(){

        var_dump( Data::put()->all() );

    });

</pre>


<p class='heading'>DELETE Requests</p>

<pre class='prettyprint'>

    Router::delete('/contact',function(){

        var_dump( Data::delete()->all() );

    });

</pre>


<p class='heading'>Any combination of Requests</p>

<pre class='prettyprint'>

    Router::any('/contact',function(){
        
    });

</pre>


<p class='heading'>HTTPS requests</p>

<pre class='prettyprint'>

    Router::secure()->get('/login',function(){

        Template::with('login');
        
    });


    Router::secure()->post('/login',function(){
        
        Model::m('User')->login();

    });


</pre>


<hr>



<h2>Variables</h2>

<p>We can extract variables from our endpoints easily</p>

<pre class='prettyprint'>

    Router::get('/profile/{id}',function($id){
        View::html("you requested profile $id");
    });

</pre>

<hr>

<h3>Restricting matches</h3>

<p>We can instruct the router to restrict matches to regex criteria using the <span class='path'>->where()</span> method</p>

<pre class='prettyprint'>

    Router::get('/profile/{id}',function($id){

    	View::html("this id: $id - is numeric");

    })->where('id','[0-9]+');

</pre>

<br><br>

<p class='heading'>Default matching conditions</p>

<p>Instead of making you repeat common regex patterns constantly we have provided a few default ones for your use.</p>

<div class='row collapse'>
    <div class='small-12 medium-4 columns'>
        <p><b><u>Name</u></b></p>
    </div>
    <div class='small-12 medium-8 columns'>
        <p><b><u>Valid Example or Format</u></b></p>
    </div>
    <hr>
    <div class='small-12 medium-4 columns'>
        <p>alpha</p>
    </div>
    <div class='small-12 medium-8 columns'>
        <p>Disco</p>
    </div>
    <hr>
    <div class='small-12 medium-4 columns'>
        <p>alpha_numeric</p>
    </div>
    <div class='small-12 medium-8 columns'>
        <p>B42-bomber</p>
    </div>
    <hr>
    <div class='small-12 medium-4 columns'>
        <p>integer</p>
    </div>
    <div class='small-12 medium-8 columns'>
        <p>-55</p>
    </div>
    <hr>
    <div class='small-12 medium-4 columns'>
        <p>numeric</p>
    </div>
    <div class='small-12 medium-8 columns'>
        <p>4.75089</p>
    </div>
    <hr>
    <div class='small-12 medium-4 columns'>
        <p>all</p>
    </div>
    <div class='small-12 medium-8 columns'>
        <p>koolaid$rink*8it-()001##@</p>
    </div>
    <hr>
</div>

<div class='panel'>
    <p>You can add your own matching conventions to the default list and they will be accesible through both the Router and Data Facades.</p>
    <pre class='prettyprint'>
        Disco::addCondition('numbersAndDashes','^[0-9\-]+$');
        Disco::addCondition('lclettersAndDashes','^[a-z\-]+$');
    </pre>
</div>

<p class='heading'>Using a default matching condition</p>


<pre class='prettyprint'>

    Router::put('/profile/{id}',function($id){

        Model::m('user')->addBlogPost($id);

    })->where('id','integer');


    //ANOTHER EXAMPLE

    Router::get('/article/{id}','Article@display')->where('id','aplha_numeric');

</pre>


<hr>

<p class='heading'>Restricting multiple variables</p>

<pre class='prettyprint'>

    Router::get('/profile/{id}/{area}',function($id,$area){

        View::html("a profile with id: $id and area: $area requested");

    })->where(Array('id'=>'[0-9]+','area'=>'photo|video|likes'));

</pre>

<hr>

<h4>Calling a Controller instead of a Closure</h4>

<p>You can instruct the Router to execute a <a href='/docs/routing-guide#controller'>Controller</a> instead of a Closure</p>


<p>Controllers are really just a class. Store them in <span class='path'>app/controllers/</span> with a naming convention like </br><span class='path'>[Your Controller Name].controller.php</span></p>

<p class='heading'>A sample Controller</p>

<pre class='prettyprint'>
Class Profile {

    public function printProfile($id){

        DB::query("SELECT name,profile_photo FROM profile WHERE user_id=?",$id);

        $profileData = DB::last()->fetch_assoc();


        Template::with('profileHome',$profileData);

    }//printProfile

}//Profile
</pre>


<pre class='prettyprint'>

    Router::get('/profile/{id}','Profile@printProfile')->where('id','[0-9]+');

</pre>

<p>The <span class='variable'>$id</span> variable will automatically be passed into the requested method <span class='path'>printProfile</span> as a parameter</p>




